/Py_Programs/.venv/
/Py_Programs/__pycache__/
/Py_Programs/education/__pycache__/
/Py_Programs/entertainment/__pycache__/
/Py_Programs/other/__pycache__/
/Py_Programs/security/__pycache__/
/Py_Programs/utility/__pycache__/
/Py_Programs/not_Added/__pycache__/