beautifulsoup4==4.12.2
matplotlib==3.7.1
moviepy==1.0.3
nltk==3.8.1
numpy==1.23.5
opencv-python==4.7.0.72
pandas==2.0.1
pillow==9.5.0
psutil==5.9.4
PyQt5==5.15.9
pygame==2.4.0
pynput==1.7.6
qrcode==7.4.2
requests==2.28.2
requests-oauthlib==1.3.1
scipy==1.10.1
sounddevice==0.4.6
tensorflow==2.12.0
transformers==4.29.2
tkhtmlview==0.2.0
urllib3==1.26.13